<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="_style/style.css" media="screen" />

</head>
<body class="vh-100">

<!-- HEADER -->
<div class="bg-degrade p-3 d-flex flex-row" style="height: 10%;">
    <img src="_img/logo_white2.png" height=55>
</div>

<div class="row m-0"  style="height: 90%;">
    <div class="col-2 bg-light-2 p-0">

        <div class="drawer-item selected-item">
            <a class="drawer-item-text">
                <div class="pt-3 pb-2"> 
                <p class="ms-5"><i class="fa-regular fa-comment-dots"></i> Recados</p>
                </div>
            </a>
        </div>
        
        <div class="drawer-item">
            <a class="drawer-item-text">
                <div class="pt-3 pb-2"> 
                <p class="ms-5"><i class="fa-solid fa-book-open"></i> Disciplinas </p>
                </div>
            </a>
        </div>

        <div class="drawer-item">
            <a class="drawer-item-text">
                <div class="pt-3 pb-2"> 
                <p class="ms-5"><i class="fa-solid fa-table-list"></i> Notas </p>
                </div>
            </a>
        </div>

        <div class="drawer-item">
            <a class="drawer-item-text">
                <div class="pt-3 pb-2"> 
                <p class="ms-5"><i class="fa-solid fa-user"></i> Perfil </p>
                </div>
            </a>
        </div>

    </div>
    
    <div class="col bg-light">

        <div class="ms-3 mt-4">
            <h2> Recados </h2>
            <div class="mt-2 pe-2 recados-content">
                <div class=" row g-3 p-3">
                <div class="rounded-5 bg-body p-4 shadow">
                    <h3>Novidades!</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies erat sit amet congue commodo. Vivamus ipsum nulla, mollis vel laoreet ut, ornare eget purus. Integer ex quam, congue quis ornare sed, eleifend in ex. In urna urna, porta imperdiet vehicula eget, aliquet vitae mauris. Vivamus sodales orci justo, eget bibendum tellus ullamcorper et. Etiam ac nunc et metus euismod scelerisque in rutrum enim. Vivamus non lectus a augue tristique imperdiet sed eget sapien.</p>
                    <div class="text-end">
                        <span><small>12/03/2023</small></span>
                    </div>
                </div>

                <div class="rounded-5 bg-body p-4 shadow">
                    <h3>Comunicado aos alunos!</h3>
                    <p> Duis viverra sed dolor at eleifend. Proin at turpis erat. Aliquam vel viverra arcu. Nam vel laoreet massa. Aliquam elit quam, facilisis eget congue id, rutrum vel justo. Integer in ligula ligula. Suspendisse quis nulla mi. Ut scelerisque, nisl id condimentum sollicitudin, est justo feugiat nunc, eu pulvinar velit lorem vel quam. Etiam hendrerit quam vitae metus lobortis euismod. Phasellus vulputate, tellus non porttitor rutrum, massa nunc sodales neque, eget molestie felis elit sit amet mi. Aliquam vitae lobortis nulla. Cras sed mauris eu lectus porttitor porta. Aenean ac ex leo.</p>
                    <div class="text-center">
                        <img height="150px" src="https://www.uniabeu.edu.br/wp-content/uploads/2021/06/MEGAFONE-ATENCAO-2.png"> 
                    </div>
                    <p><br/> Duis viverra sed dolor at eleifend. Proin at turpis erat. Aliquam vel viverra arcu. Nam vel laoreet massa. Aliquam elit quam, facilisis eget congue id, rutrum vel justo. Integer in ligula ligula. Suspendisse quis nulla mi. Ut scelerisque, nisl id condimentum sollicitudin, est justo feugiat nunc, eu pulvinar velit lorem vel quam. Etiam hendrerit quam vitae metus lobortis euismod. Phasellus vulputate, tellus non porttitor rutrum, massa nunc sodales neque, eget molestie felis elit sit amet mi. Aliquam vitae lobortis nulla. Cras sed mauris eu lectus porttitor porta. Aenean ac ex leo.</p>
                    <div class="text-end">
                        <span><small>10/03/2023</small></span>
                    </div>
                </div>

                
                <div class="rounded-5 bg-body p-4 shadow">
                    <h3>Congrama</h3>
                    <p> Duis viverra sed dolor at eleifend. Proin at turpis erat. Aliquam vel viverra arcu. Nam vel laoreet massa. Aliquam elit quam, facilisis eget congue id, rutrum vel justo. Integer in ligula ligula. Suspendisse quis nulla mi. Ut scelerisque, nisl id condimentum sollicitudin, est justo feugiat nunc, eu pulvinar velit lorem vel quam. Etiam hendrerit quam vitae metus lobortis euismod. Phasellus vulputate, tellus non porttitor rutrum, massa nunc sodales neque, eget molestie felis elit sit amet mi. Aliquam vitae lobortis nulla. Cras sed mauris eu lectus porttitor porta. Aenean ac ex leo.</p>
                    <div class="text-end">
                        <span><small>06/03/2023</small></span>
                    </div>
                </div>
                </div>
            </div>

    </div>
</div>

</body>

<script src="https://kit.fontawesome.com/4dc4019baa.js" crossorigin="anonymous"></script>
<script>

</script>
</html>