<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="_style/style.css" media="screen" />

</head>
<body class="vh-100">

<!-- HEADER -->
<div class="bg-degrade p-3 d-flex flex-row" style="height: 10%;">
    <img src="_img/logo_white2.png" height=55>
</div>

<div class="row m-0"  style="height: 90%;">
    <div class="col-2 bg-light-2 p-0">

        <div class="drawer-item">
            <a class="drawer-item-text">
                <div class="pt-3 pb-2"> 
                <p class="ms-5"><i class="fa-regular fa-comment-dots"></i> Recados</p>
                </div>
            </a>
        </div>
        
        <div class="drawer-item">
            <a class="drawer-item-text">
                <div class="pt-3 pb-2"> 
                <p class="ms-5"><i class="fa-solid fa-book-open"></i> Disciplinas </p>
                </div>
            </a>
        </div>

        <div class="selected-item">
            <a class="drawer-item-text">
                <div class="pt-3 pb-2"> 
                <p class="ms-5"><i class="fa-solid fa-table-list"></i> Notas </p>
                </div>
            </a>
        </div>

        <div class="drawer-item">
            <a class="drawer-item-text">
                <div class="pt-3 pb-2"> 
                <p class="ms-5"><i class="fa-solid fa-user"></i> Perfil </p>
                </div>
            </a>
        </div>

    </div>
    
    <div class="col bg-light">

        <div class="ms-3 mt-4">
            <div class="d-flex flex-row col-3">
                <h2 class=""> Notas </h2>
                <select class="ms-4 form-select rounded-pill shadow border border-0" aria-label="Default select example">
                    <option value="1">Semestre 1</option>
                    <option value="2">Semestre 2</option>
                    <option value="3">Semestre 3</option>
                </select>
            </div>
            <div class="mt-2 pe-2 recados-content">
                <div class=" row g-3 p-3">

                    <div class="rounded-5 bg-body p-4 shadow text-center">
                        <h3>Semestre 1</h3>
                        <table class="table">
                            <thead>
                                <th scope="col">Disciplina</th>
                                <th scope="col">Frequencia</th>
                                <th scope="col">Média Final</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Calculo I</th>
                                <td>98.8%</td>
                                <td>9.5</td>
                              </tr>
                              <tr>
                                <th scope="row">Introdução a Programação</th>
                                <td>100%</td>
                                <td>8.5</td>
                              </tr>
                              <tr>
                                <th scope="row">Redes de Computadores</th>
                                <td>85%</td>
                                <td>10.0</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>

                </div>
            </div>

    </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/4dc4019baa.js" crossorigin="anonymous"></script>
<script>

</script>
</html>